@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

.background-image {
  background-image: url('/images/background.png');
  background-size: cover;
  background-position: center;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  display: none;
}
